<!doctype html>
<html lang="en">
<body>
<h1>You requested to sign-up for CRStudio - Tutor</h1>
<p>
  The purpose of this email is to verify that you asked to sign-up for <a th:href="${serviceHost}">CRStudio - Tutor</a>.<br>
  If you are <span th:text="${email}"></span> and are trying to sign-up, then click the link below.<br>
  This doesn't finish the sign-up process, but notify the owner that you requested to sign up.<br>
  Clicking once is enough, trying multiple times won't speed up the process.
</p>
<h3><a th:href="${signUpLink}">Link</a></h3>
<p>
  If you did not intend to sign up, then you may ignore, or report to us.
</p>
</body>
</html>