<!doctype html>
<html lang="en">
<body>
<h1>Trying to Sign In?</h1>
<p>
  The purpose of this email is to let you sign in to <a th:href="${serviceHost}">CRStudio - Tutor</a>.<br>
  If you are <span th:text="${email}"></span> and are trying to sign in, then click the link below.<br>
  Clicking once is enough, trying multiple times won't speed up the process.
</p>
<h3><a th:href="${signInLink}">Link</a></h3>
<p>
  If you did not intend to sign in, then you may ignore, or report to us.
</p>
</body>
</html>